{% extends 'base.html' %}

{% block body %}
<h1>EDIT</h1>
    <form action="/articles/{{article.pk}}/update/" method="POST">
        {% csrf_token %}
        <label for="">Title</label><br>
        <input type="text" id="title" name="title" value="{{article.title}}"><br>
        <label for="">Content</label><br>
        <textarea name="content" id="content" cols="30" rows="10"> {{article.content}} </textarea>
        <input type="submit" value="수정"><br>
        <a href="/articles/">이전 페이지로</a>
    </form>

{% endblock %}