#font1 {
    font-size: 30px;
    font-family: 'Lobster', cursive;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
}

#font2 {
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
}