{% extends 'articles/base.html' %}

{% block body %}
<h2 class="text-center">DETAIL</h2>
    <p>글 제목: {{ article.title }}</p>
    <p>글 내용: {{ article.content }}</p>
    <div class="form-inline">
        <a href="{% url 'articles:update' article.pk %}" class="btn btn-success">글 수정</a>
        &nbsp;&nbsp;
        <form action="{% url 'articles:delete' article.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="글 삭제" class="btn btn-danger">
        </form>
    </div>
    
    <hr>
    <h4>[ 댓글 목록 ]</h4>
    <br>
    {% for comment in comments %}
        <hr>
        <p><b>{{ comment.pk }}번째 댓글</b></p>
        <p>내용: {{ comment.content }}</p>
        <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-warning" value="댓글 삭제">
        </form>
    {% endfor %}
    <hr>
    <p><b>새 댓글 작성</b></p>
    <form action="{% url 'articles:comments_create' article.pk %}" method="POST">
        {% csrf_token %}
        {{ commentform }}
        <input type="submit" class="btn btn-dark" value="댓글 달기">
    </form>
    <hr>
    <a href="{% url 'articles:index' %}">[메인 페이지로]</a>
{% endblock %}